{% extends 'pages/base.html' %}
{% load static %}
{% block content %} 
    <body>
        <br>
        <br>
        <div class="text-center">
            <h3> Palmax School Mangement System</h3>
            <br>
            <h5> Manage you School Activies Effectively </h5>
            <hr>
            <br>
        </div>
        <div class="container my-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-sm mb-4 custom-card">
                        <img src="{% static 'images/students.jpg' %}" class="card-img-top" alt="Student Image">
                        <div class="card-body">
                            <h5 class="card-title">STUDENTS</h5>
                            <p class="card-text">Press manage students below to handle student data and analize</p>
                            <a href="#" class="btn btn-dark">Manage Students</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card shadow-sm mb-4 custom-card">
                        <img src="{% static "images/teachers.jpg" %}" class="card-img-top" alt="Teacher image">
                        <div class="card-body">
                            <h5 class="card-title">TEACHERS</h5>
                            <p class="card-text">Press Manage Teacher to handle teacher data and analize</p>
                            <a href="#" class="btn btn-dark">Manage Teachers</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card shadow-sm mb-4 custom-card">
                        <img src="{% static "images/courses.jpg" %}" class="card-img-top" alt="Courses image">
                        <div class="card-body">
                            <h5 class="card-title">COURSES</h5>
                            <p class="card-text">Press Manage Courses to handle Courses data and analize</p>
                            <a href="#" class="btn btn-dark">Manage Courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}